In [1]:
import pandas as pd
from datetime import datetime
import numpy as np

In [2]:
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.getcwd(), 'src')))

In [5]:
data = pd.read_csv(r'D:\workspace\PET\technical_phase_data.csv')
data.head()

,ID,date,merch_category,merch_postal_code,transaction_type,spendamt,nb_transactions
0,1,2019-01-01,Grocery Stores/Supermarkets,8700000,ONLINE,11238.128450,160
1,1,2019-01-01,Grocery Stores/Supermarkets,500034,ONLINE,12848.165221,183
2,2,2019-01-01,Grocery Stores/Supermarkets,110621,ONLINE,12116.165569,173
3,3,2019-01-01,Hotels/Motels,8900000,OFFLINE,7745.998879,38
4,4,2019-01-01,Restaurants,111941,OFFLINE,6927.424754,173

Public info about the column names

In [6]:
txn_channel_col = "transaction_type"
category_col = "merch_category"
time_col = "date"
postal_code_col = "merch_postal_code"
num_txns_col = "nb_transactions"

Categorising cities in the data

In [7]:
def categorize_city(code):
    if code.startswith("5"):
        return "Medellian"
    elif code.startswith("11"):
        return "Bogota"
    elif code.startswith("70"):
        return "Brasilia"
    else:
        return "Santiago"

In [8]:
age_groups = ['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75+']

In [9]:
consumption_distribution_raw = pd.read_csv('consumption_distribution.csv')
categories = consumption_distribution_raw['categories'].values
consumption_distribution = {}
for category in categories:
    consumption_distribution[category] = consumption_distribution_raw[consumption_distribution_raw['categories'] == category].values[0][:-1]

In [8]:
scaling_factor = pd.read_csv('fractions_offline.csv')['0'].values

In [9]:
from DP_epidemiology.contact_matrix import get_age_group_count_map
week ="2021-01-05"
start_date = datetime.strptime(week, '%Y-%m-%d')
end_date = datetime.strptime(week, '%Y-%m-%d')
cities = data[postal_code_col].astype(str).apply(categorize_city).unique()

In [10]:
counts_per_city = []
for city in cities:
    counts = get_age_group_count_map(data, age_groups, consumption_distribution, start_date, end_date, city)
    counts_per_city.append(list(counts.values()))

In [ ]:
age_groups = ['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75+']
consumption_distribution_raw = pd.read_csv('consumption_distribution.csv')
categories = consumption_distribution_raw['categories'].values
consumption_distribution = {}
for category in categories:
    consumption_distribution[category] = consumption_distribution_raw[consumption_distribution_raw['categories'] == category].values[0][:-1]
fraction_offline_raw = pd.read_csv('fractions_offline.csv')
fraction_offline = fraction_offline_raw['0'].values
from DP_epidemiology.contact_matrix import get_age_group_count_map
week ="2021-01-05"
start_date = datetime.strptime(week, '%Y-%m-%d')
end_date = datetime.strptime(week, '%Y-%m-%d')
cities = data["merch_postal_code"].astype(str).apply(categorize_city).unique()
counts_per_city = []
for city in cities:
    counts = get_age_group_count_map(data, age_groups, consumption_distribution, start_date, end_date, city)
    counts_per_city.append(list(counts.values()))

In [11]:
P = np.array([4136344, 4100716, 3991988, 3934088, 4090149, 4141051, 3895117, 3439202,
              3075077, 3025100, 3031855, 2683253, 2187561, 1612948, 1088448, 1394217])  
from DP_epidemiology.contact_matrix import get_contact_matrix_country
estimated_contact_matrix = get_contact_matrix_country(counts_per_city, P, scaling_factor)

In [12]:
estimated_contact_matrix

array([[0.09639499, 0.12729707, 0.23459434, 0.41401698, 0.36048598,
        0.26723388, 0.21151241, 0.1940109 , 0.18478214, 0.13886226,
        0.13810061, 0.1138968 , 0.09122256, 0.06328202, 0.04659307,
        0.02991427],
       [0.12620061, 0.16665576, 0.30711986, 0.54200709, 0.47192923,
        0.34987358, 0.27687683, 0.25394952, 0.24191389, 0.18202519,
        0.18046582, 0.14933275, 0.11932049, 0.0828854 , 0.06100833,
        0.03909869],
       [0.22640714, 0.29897676, 0.55092938, 0.97226376, 0.84656522,
        0.62773045, 0.49656496, 0.45536685, 0.43398723, 0.3275752 ,
        0.32224618, 0.26887916, 0.21358051, 0.1488641 , 0.10948895,
        0.06984912],
       [0.39377267, 0.51998324, 0.958162  , 1.69092516, 1.47231947,
        1.09178936, 0.86355278, 0.79186499, 0.75479419, 0.5702682 ,
        0.55965221, 0.46815897, 0.3712068 , 0.25899607, 0.19044626,
        0.12132627],
       [0.35646004, 0.47071313, 0.86738183, 1.53072478, 1.33282797,
        0.98832319, 0.78176311, 0.7168841 , 0.68327506, 0.51598867,
        0.50698298, 0.42356656, 0.33614752, 0.23441478, 0.17239101,
        0.10990033],
       [0.26753799, 0.35331497, 0.65117025, 1.1492258 , 1.00062289,
        0.74162317, 0.58725333, 0.53876943, 0.51286585, 0.38402453,
        0.38534348, 0.31480214, 0.25383525, 0.17540956, 0.12926391,
        0.083426  ],
       [0.19917724, 0.26299497, 0.48451514, 0.85499845, 0.74448603,
        0.55237678, 0.43636769, 0.39992833, 0.38175352, 0.29121348,
        0.2789736 , 0.23944631, 0.18644949, 0.13145362, 0.09643546,
        0.06056907],
       [0.16131218, 0.21298322, 0.39231044, 0.69225286, 0.60279203,
        0.44745571, 0.35311759, 0.3234834 , 0.30915709, 0.23773022,
        0.22314176, 0.19571837, 0.15011226, 0.10676955, 0.07817335,
        0.04850929],
       [0.13737235, 0.18140828, 0.33430565, 0.58998432, 0.51370339,
        0.38084582, 0.30138285, 0.27642513, 0.26332769, 0.19816065,
        0.19641011, 0.16257702, 0.1298715 , 0.0902256 , 0.06640984,
        0.04255421],
       [0.10155641, 0.13428006, 0.24823415, 0.43850527, 0.38162848,
        0.28053569, 0.22616776, 0.20910597, 0.19494009, 0.12503586,
        0.1771629 , 0.09967098, 0.10622315, 0.06321094, 0.04828421,
        0.03768237],
       [0.1012249 , 0.13342699, 0.24474114, 0.4313031 , 0.37580511,
        0.28212779, 0.2171456 , 0.19671234, 0.19364945, 0.1775585 ,
        0.09782913, 0.14995707, 0.0807196 , 0.0716148 , 0.05012645,
        0.02221963],
       [0.07388504, 0.09771405, 0.18072971, 0.31930881, 0.2778716 ,
        0.20398053, 0.16494884, 0.15269876, 0.14186158, 0.08840781,
        0.13271504, 0.07005195, 0.0785104 , 0.04557405, 0.03503114,
        0.02815644],
       [0.04824427, 0.06365251, 0.11703953, 0.20641061, 0.17978397,
        0.13409158, 0.10471307, 0.09548137, 0.09238852, 0.07681386,
        0.05824126, 0.06400674, 0.04217825, 0.03286025, 0.02359547,
        0.01285376],
       [0.02467653, 0.03260159, 0.06014799, 0.10618654, 0.09244134,
        0.06832239, 0.05443427, 0.05007375, 0.04732539, 0.03370333,
        0.0380991 , 0.02739532, 0.02422875, 0.01589938, 0.01185784,
        0.00819294],
       [0.01226062, 0.01619337, 0.02985305, 0.05269095, 0.04587575,
        0.03397617, 0.02694784, 0.02474051, 0.02350629, 0.01737293,
        0.01799559, 0.0142102 , 0.01174022, 0.00800189, 0.00591531,
        0.00388865],
       [0.01008305, 0.0132933 , 0.02439507, 0.0429973 , 0.03746194,
        0.02808803, 0.02168008, 0.01966516, 0.01929376, 0.01736716,
        0.01021783, 0.01463007, 0.0081922 , 0.0070819 , 0.00498106,
        0.00230539]])

In [ ]:
import matplotlib.pyplot as plt

diff = estimated_C 

plt.figure(figsize=(10, 8))
plt.imshow(diff, cmap = 'coolwarm', interpolation='none')
plt.colorbar(label = 'Diff')